


body {
	background: yellow;
	// background: red;
	// background: green;
}

h1 {
	color: white;
	animation: 0.5s fadeIn ease-out;

	display: flex;
	// transition: 0.2s ease-out;
	div {
		background: green;
	}
}

@import 'common/normalize.scss';
